<div id="footer">
  <div id="logo">
  <%= link_to root_path do %>
    <%= image_tag "logo.png" %>
  <% end %>       
  </div>

  <ul>
  	<li class="category">Website</li>
  	<li><%= link_to "Blog", root_path %></li>
  	<li><%= link_to "About", about_path %></li>
  </ul>

  <ul>
  	<li class="category">Social</li>
  	<li><a href="https://github.com/Sir-Turtle">Github</a></li>
    <li><a href="https://www.linkedin.com/in/tolga-akkaya-63934098/">LinkedIn</a></li>
  	<li><a href="mailto:hey@tolgaakkaya.me">Email</a></li>
  </ul>
</div>