<!DOCTYPE html>
<html>
  <%= render partial: "layouts/head" %>
  <body>
    <div id="wrap">
      <%= render partial: "layouts/header" %>
      <div class="container">
        <div class="row">
          <div class="container-fluid">
            <div class="col-lg-12">
              <% flash.each do |name, msg| %>
                <%= content_tag(:div, msg, class:"alert") %>
              <% end %>
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>


